html {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(180deg, rgb(97, 182, 168), rgb(70, 135, 124));
    min-height: 100vh;
}

body {
    width: 675px;
    margin: 10px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: rgb(9, 91, 78);
    font-size: 70px;
}

span {
    font-size: 15px;
}

img {
    border: 10px inset rgb(78, 172, 157);
    border-radius: 50%;
}

a.r-link {
    display: inline-block;
    text-decoration: none;
    width: 200px;
    padding: 3px;
    border: 8px ridge rgb(78, 172, 157);
    background-color: rgb(124, 202, 189);
    color: rgb(9, 91, 78);
    font-size: 20px;
}

a:hover {
    background-color: rgba(124, 202, 189, 0.615);
}